Options +FollowSymLinks
RewriteEngine On

# Pasar PATH_INFO a index.php para el enrutamiento
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
